body {background-color: #EDF1D6;}
hr {
    border-width : 6px;
    background-color: #EDF1D6;
    border-color: #FFA0A0;
    border-style: dotted none none;
    height: 0px;
    width: 5%;
    }
h1 {
color: #285430;
}
h3 {
color: #285430;
}
a {
color: #D96459;
}
li {
color: #609966;
}
td {
color: #609966;
}
th {
color: #285430;
}
